<template>
  <div class="error-page-container">
    <div class="error-page-code">
      <span> 404 </span>
    </div>
    <div class="error-page-info">
      <p>
        La pagina que estas intentando ver actualmente ha sido removida, ha cambiado el nombre o no esta disponible temporalmente
        <NuxtLink style="color: #f57c00" to="/">
          Home page
        </NuxtLink>
      </p>
    </div>

  </div>
</template>

<script lang="ts">
import { Vue, Component } from 'nuxt-property-decorator'

@Component( {} )
export default class errorPage extends Vue {

}
</script>

<style scoped>
.error-page-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  line-height: 1.4;
  text-align: center;
  padding: 15px;
  font-weight: bolder;

}
.error-page-code{
  margin: 0;
  font-size: 16em;
  background: linear-gradient(130deg, #f57c00, #e65100);
  color: transparent;
  -webkit-background-clip: text;
  text-transform: uppercase;
}
.error-page-info{
  text-transform: uppercase;
  margin-bottom: 25px;
  letter-spacing: 3px;
}
</style>
