<template>
  <div class="login-container">
    <img class="login-form-fox-image" src="~/static/fox1.png" alt="login image">
    <v-sheet
      class="login-form-container pt-10"
      elevation="6"
      rounded
    >
      <v-form
        ref="loginForm"
        v-model="valid"
      >
        <v-text-field
          v-model="userName"
          :readonly="loading"
          :rules="[rules.required, rules.minSize]"
          placeholder="Usuario"
          label="Usuario"
          outlined
        />
        <v-text-field
          v-model="password"
          :readonly="loading"
          :rules="[rules.required]"
          :type="showPassword ? 'text' : 'password'"
          :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
          placeholder="Contraseña"
          label="Contraseña"
          outlined
          @click:append="showPassword = !showPassword"
        />
        <div class="login-container-extra-info">
          <v-checkbox v-model="remember" :readonly="loading" class="my-0" >
            <template #label>
              <span class="checkbox-label"> Recordarme </span>
            </template>
          </v-checkbox>
        </div>
      </v-form>
      <v-btn
        color="primary"
        style="width: 100%"
        :loading="loading"
        @click="validateForm"
      >
        Iniciar
      </v-btn>
    </v-sheet>

    <p style="font-size: 12px" class="center-items mt-4">
      <span class="mr-2"> ¿ Aun no tienes una cuenta ? </span>
      <NuxtLink to="/register"> Registrarme </NuxtLink>
    </p>
  </div>
</template>

<script lang="ts">
import {Vue, Component, Emit, Prop} from 'nuxt-property-decorator'

export type signInType = {
  user: string,
  password: string,
  remember: boolean
}

@Component( {} )
export default class loginForm extends Vue {
  @Prop( { default: false } ) loading!: boolean;

  valid: boolean = false;

  // Register Form variables
  userName: string = '';
  password: string = '';

  showPassword: boolean = false;
  remember: boolean = true;

  rules: Object = {
    required: ( v: any ) => !!v || 'este campo es requerido',
    minSize: ( v: any ) => ( v && v.length >= 6 ) || 'al menos debe contener 6 caracteres',
  }

  validateForm () {
    ( this.$refs.loginForm as any ).validate();
    if ( this.valid ) { this.signIn() }
  }

  @Emit()
  signIn () {
    return { user: this.userName, password: this.password, remember: this.remember }
  }

}
</script>

<style scoped>
.login-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}
.login-form-container{
  max-width: 400px;
  width: 100%;
  padding: 24px;
  border-radius: 8px;
}
.login-container-extra-info{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.checkbox-label{
  font-size: 12px;
}
.login-form-fox-image{
  width: 110px;
  margin-bottom: -30px;
  z-index: 1;
}
</style>
