<template>
  <div class="register-container">
    <img class="register-form-fox-image" src="~/static/fox2.png" alt="login image">
    <v-sheet
      class="register-form-container pt-10"
      elevation="6"
      rounded
    >
      <v-form
        ref="registerForm"
        v-model="valid"
      >
        <div class="register-form-1">
          <v-text-field
            v-model="firstName"
            :readonly="loading"
            :rules="[rules.required]"
            placeholder="Nombre"
            label="Nombre"
            outlined
            class="mr-2"
          />
          <v-text-field
            v-model="lastName"
            :readonly="loading"
            placeholder="Apellido"
            label="Apellido"
            outlined
            class="ml-2"
          />
        </div>
        <div>
          <v-text-field
            v-model="userName"
            :readonly="loading"
            :rules="[rules.required, rules.minSize]"
            placeholder="Usuario"
            label="Usuario"
            outlined
          />
        </div>
        <div>
          <v-text-field
            v-model="email"
            :readonly="loading"
            :rules="[rules.required, rules.email]"
            placeholder="Email"
            label="Email"
            outlined
          />
        </div>
        <div>
          <v-text-field
            v-model="password"
            :readonly="loading"
            :rules="[rules.required, rules.minSize]"
            placeholder="Contraseña"
            label="Contraseña"
            outlined
          />
        </div>
        <div class="register-form-terms-and-conditions">
          <v-checkbox v-model="termsAndConditions" :readonly="loading" :rules="[rules.agree]" class="my-0" >
            <template #label>
              <span class="checkbox-label"> Aceptar terminos y condiciones </span>
            </template>
          </v-checkbox>
        </div>
        <v-btn
          color="primary"
          style="width: 100%"
          :loading="loading"
          @click="validateField"
        >
          Registrarme
        </v-btn>
      </v-form>
    </v-sheet>
    <p style="font-size: 12px" class="center-items mt-4">
      <span class="mr-2"> ¿ Ya tienes una cuenta ? </span>
      <NuxtLink to="/login"> Inicia sesión </NuxtLink>
    </p>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Emit, Prop } from 'nuxt-property-decorator'

export type signUpType = {
  firstName: string,
  lastName: string,
  userName: string,
  email: string,
  password: string,
  termsAndConditions: boolean
}

@Component( {} )
export default class registerForm extends Vue {
  @Prop( { default: false } ) loading!: boolean;

  valid: boolean = false;

  // Register Form variables
  firstName:string = '';
  lastName: string = '';
  userName: string = '';
  email: string = '';
  password: string = '';
  termsAndConditions: boolean = true;

  rules: Object = {
    required: ( v: any ) => !!v || 'este campo es requerido',
    minSize: ( v: any ) => ( v && v.length >= 6 ) || 'al menos debe contener 6 caracteres',
    email: ( v: any ) => /.+@.+\..+/.test(v) || 'E-mail no valido',
    agree: ( v: any ) => !!v || 'Debes aceptar los terminos y condiciones'
  }

  validateField () {
    ( this.$refs.registerForm as any ).validate()
    if ( this.valid ) { this.signUp() }
  }

  @Emit()
  signUp() {
    return {
      firstName: this.firstName,
      lastName: this.lastName,
      userName: this.userName,
      email: this.email,
      password: this.password,
      termsAndConditions: this.termsAndConditions
    }
  }
}
</script>

<style scoped>
.register-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}
.register-form-container{
  max-width: 400px;
  width: 100%;
  padding: 24px;
  border-radius: 8px;
}
.register-form-1{
  display: flex;
}
.register-form-terms-and-conditions{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.register-form-fox-image{
  width: 140px;
  margin-bottom: -30px;
  z-index: 1;
}
</style>
