<template>
  <v-app>
    <v-main class="main-container">
      <div class="switch-theme-container">
        <v-btn icon fab @click="darkTheme = !darkTheme">
          <v-icon v-text="darkTheme ? 'mdi-lightbulb-outline' : 'mdi-lightbulb-on' "/>
        </v-btn>
      </div>
      <Nuxt />
    </v-main>
  </v-app>
</template>

<script lang="ts">
import { Vue, Component, Watch } from 'nuxt-property-decorator'

@Component( {} )
export default class defaultLayout extends Vue {

  darkTheme: boolean = true;

  beforeMount ( ) {
    this.$vuetify.theme.dark = true;
  }

  @Watch( 'darkTheme' )
  onThemeSwitch ( newValue: boolean ) {
    this.$vuetify.theme.dark = newValue
  }

}
</script>

<style scoped>
.switch-theme-container{
  position: fixed;
  right: 10px;
  top: 10px;
}
</style>
