<template>
  <v-app>
    <ErrorPage />
    {{ error }} hola
  </v-app>
</template>

<script lang="ts">
import { Vue, Component } from 'nuxt-property-decorator'
import ErrorPage from '~/components/ErrorPage.vue'

@Component( {
  layout: 'default',
  props: [ 'error' ],
  components: {
    ErrorPage: ErrorPage
  }
} )
export default class Error extends Vue {

}
</script>

<style scoped>
h1 {
  font-size: 20px;
}
</style>
