<template>
  <div class="login-container center-items">
    <h1> LOGGEADO </h1>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from 'nuxt-property-decorator'

@Component( {
  middleware: ['authenticated']
} )
export default class index extends Vue {

}

</script>

<style scoped>
.login-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.center-items{
  display: flex;
  justify-content: center;
}
</style>
