<template>
  <div class="login-container center-items">
    <LoginForm
      :loading="loading"
      @sign-in="signIn"
    />
  </div>
</template>

<script lang="ts">
import { Vue, Component } from 'nuxt-property-decorator'
import LoginForm, {signInType} from '~/components/LoginForm.vue';

@Component( {
  components: {
    LoginForm: LoginForm
  }
} )
export default class Login extends Vue {

  loading: boolean = false;

  signIn ( props: signInType ) {
    this.loading = true;
    // TODO: hacer metodos para inicio de sesion
    console.log( 'iniciando sesión con estos datos', props )
    setTimeout( ()=> this.loading = false, 3000 );
  }
}

</script>

<style scoped>
.login-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.center-items{
  display: flex;
  justify-content: center;
}
</style>
