<template>
  <div class="register-container center-items">
    <RegisterForm
      :loading="loading"
      @sign-up="signUp"
    />
  </div>
</template>

<script lang="ts">
import { Vue, Component } from 'nuxt-property-decorator'
import RegisterForm, {signUpType} from '~/components/RegisterForm.vue';

@Component( {
  components: {
    RegisterForm: RegisterForm
  }
} )
export default class register extends Vue {

  loading: boolean = false;

  signUp ( props: signUpType ) {
    // TODO: hacer metodos para registro
    this.loading = true;
    console.log( 'registrandose con estos datos', props )
    setTimeout( ()=> this.loading = false, 3000 );
  }
}
</script>

<style scoped>
.register-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.center-items{
  display: flex;
  justify-content: center;
}
</style>
